* {
    margin: 0;
    padding: 5px;
     box-sizing: border-box;
}

body {
    background-color: #444444;
}

h1 {
    text-align: center;
}

.article-layout {
    display:grid;
    grid-template-areas:
    "header header header"
    "sidebar article test"
    "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px;
    gap: 10px;
    background-color: grey;
    border-radius: 20px;
}

header {
    grid-area: header;
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
}

.sidebar {
    grid-area: sidebar;
    background-color: aquamarine;
}

.article {
    grid-area: article;
    text-align: center;
    background-color: aliceblue;
}

.test {
    grid-area: test;
    text-align: right;
    background-color: darkblue;
    color: aliceblue;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
}